/* * {
  margin: 0;
} */

.App {
  margin: 0;
}

.App-header {
  color: black;
  font-size: 2rem;
  margin-left: 40px;
  line-height: 75px;
  text-transform: uppercase;
  margin-top: 73px;
}

.top-container {
  display: flex;
  width: 1330px;
  min-height: 350px;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

/* doesn't really work why*/
.bottom-container {
  display: flex;
  width: 1330px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;

  /* background-color: white; */
  /* height: 200px; */
}
